* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "F1titulos";
  src: url(../assets/fonts/F1clasico.ttf);
}
@font-face {
  font-family: "F1textos";
  src: url(../assets/fonts/F1texto.ttf);
}
@font-face {
  font-family: "F1rookies";
  src: url(../assets/fonts/Rookies.ttf);
}
.container {
  max-width: 100% !important;
}

/* INICIO */
.container-body-inicio {
  border-top: 0px;
  background-color: #dee0e3;
  width: 100vw;
  height: auto;
}

.caja-body {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-areas: "menu header header" "menu article aside" "menu footer footer";
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto auto auto;
}

nav {
  text-decoration: none;
  list-style: none;
  height: 100%;
  min-height: 30%;
  display: grid;
  padding-right: 20px;
  align-content: baseline;
}
nav ul li {
  list-style: none;
}

.navbar {
  background-color: black;
  display: grid;
  width: auto;
  height: auto;
  grid-area: menu;
}

.navbar-mobile-container {
  display: none;
}

.menu-mobile-container {
  display: none;
}

.nav-item a {
  color: white;
  font-size: 24px;
  list-style-type: none;
  font-family: "f1titulos";
  text-decoration: none;
}
.nav-item a:hover {
  background-color: red;
}

.Inicio a {
  text-decoration: none;
  color: #e10600;
  font-family: "F1titulos";
  font-size: 32px;
}
.Inicio a:hover {
  background-color: gray;
}

.caja-titulo-header {
  display: grid;
  grid-area: header;
  width: 75vw;
  height: auto;
  margin-top: 0;
  padding: 0;
}

.imagen-banner {
  object-fit: cover;
  width: 75vw;
  height: 150px;
}

#rookiesArg {
  font-family: "F1titulos";
  font-size: 2, 5em;
  color: #74acdf;
  text-align: left;
  padding-left: 10px;
}

.caja-article {
  width: 50vw;
  height: auto;
  background-color: white;
  display: grid;
  grid-area: article;
  align-items: baseline;
  justify-content: center;
}

#bienvenida {
  color: #e10600;
  font-size: 2em;
  font-family: "F1textos";
  width: auto;
  height: auto;
  padding-left: 10px;
}

#parrafo-1 {
  color: black;
  font-size: 1, 5em;
  font-family: "F1textos";
  width: auto;
  height: auto;
  padding-left: 10px;
}

.caja-aside {
  display: grid;
  width: 25vw;
  height: auto;
  background-color: white;
  grid-area: aside;
}

#proximo-GP {
  color: white;
  font-size: 2em;
  font-family: "F1titulos";
}

.caja-proximo-GP {
  background-color: #e10600;
  width: 25vw;
  height: auto;
  text-align: center;
  display: grid;
}

.caja-imagen-GP {
  width: 25vw;
  height: auto;
  display: grid;
}
.caja-imagen-GP img {
  width: 25vw;
  height: auto;
}

.caja-titulo-GP {
  background-color: black;
  width: 25vw;
  height: auto;
  text-align: center;
  display: grid;
}

#GP {
  color: white;
  font-size: 2em;
  font-family: "F1titulos";
  width: 25vw;
}

.caja-horarios {
  width: 25vw;
  height: auto;
  background-color: #e10600;
  display: grid;
  padding-left: 10px;
}

.GP-dias-horarios {
  color: white;
  font-size: 1em;
  font-family: "F1textos";
  width: 25vw;
}

footer {
  color: white;
  font-family: "F1textos";
  font-size: 1em;
  text-align: center;
  display: grid;
  grid-area: footer;
  width: 75vw;
}

.caja-pie-de-pagina {
  width: 100vw;
  height: auto;
  background-color: #e10600;
  grid-area: footer;
}

.florencia-mancilla {
  grid-area: firma;
}

.icono-instagram {
  grid-area: instagram;
}

.comunidad-reddit {
  grid-area: comunidad;
}

.icono-reddit {
  grid-area: reddit;
}

.copy {
  grid-area: copy;
}

.f1 {
  grid-area: f1;
}
.f1 p {
  font-style: none;
}

.container-redes-sociales {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-column: auto auto;
  grid-row: auto auto auto;
  grid-template-areas: "firma instagram" "comunidad reddit" "copy f1";
  width: 75vw;
}

/* PILOTOS */
.container-body-pilotos {
  border-top: 0px;
  background-image: url(../assets/images/fondos/muro-negro-puntos.jpg);
  display: grid;
  width: 100vw;
  height: auto;
  grid-template-areas: "menu header" "menu caja-aside-grilla-pilotos" "menu footer";
  grid-template-columns: 25% 75%;
  grid-template-rows: auto auto auto;
  column-gap: 1px 32px 32px;
  row-gap: 5px;
}

.caja-aside-grilla-pilotos {
  display: grid;
  font-size: 32px;
  grid-template-areas: "tituloGrillaPilotos" "lista-de-pilotos";
  grid-template-columns: 75vw;
  grid-template-rows: auto;
  grid-area: caja-aside-grilla-pilotos;
  column-gap: 15px;
}

.titulo-grilla-pilotos {
  display: grid;
  grid-area: tituloGrillaPilotos;
  justify-content: center;
}

.lista-de-pilotos {
  display: grid;
  grid-area: lista-de-pilotos;
  grid-template-areas: "piloto1 piloto2" "piloto3 piloto4" "piloto5 piloto6" "piloto7 piloto8" "piloto9 piloto10" "piloto11 piloto12" "piloto13 piloto14" "piloto15 piloto16" "piloto17 piloto18" "piloto19 piloto20";
  grid-template-columns: 50% 50%;
}

.h1tituloGrillaPilotos {
  font-family: "F1titulos";
  font-size: 50px;
  color: #e10600;
  justify-content: center;
  display: grid;
}

.h2pilotos {
  font-family: "F1Titulos";
  font-size: 24px;
  color: #dee0e3;
}

.edad {
  font-family: "F1textos";
  font-size: 18px;
  color: #dee0e3;
}

.equipos {
  font-family: "F1textos";
  font-size: 18px;
  color: #dee0e3;
}

#verstappen {
  grid-area: piloto1;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/01-33-verstappen.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#leclerc {
  grid-area: piloto2;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/02-16-leclerc.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#perez {
  grid-area: piloto3;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/03-11-perez.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#russell {
  grid-area: piloto4;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/04-63-russell.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#sainz {
  grid-area: piloto5;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/05-55-sainz.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#hamilton {
  grid-area: piloto6;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/06-44-hamilton.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-top: 25px;
  padding-top: 65px;
  padding-bottom: 25px;
}

#norris {
  grid-area: piloto7;
  width: 35vw;
  display: grid;
  background: url(../assets/images/pilotos/pilotos-parrilla/07-4-norris.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#ocon {
  grid-area: piloto8;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/08-31-ocon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#alonso {
  grid-area: piloto9;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/09-14-alonso.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#bottas {
  grid-area: piloto10;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/10-77-bottas.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#magnussen {
  grid-area: piloto11;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/11-20-magnussen.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#gasly {
  grid-area: piloto12;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/12-10-gasly.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#stroll {
  grid-area: piloto13;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/13-18-stroll.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#tsunoda {
  grid-area: piloto14;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/14-22-tsunoda.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#zhou {
  grid-area: piloto15;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/15-24-zhou.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#albon {
  grid-area: piloto16;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/16-23-albon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#devries {
  grid-area: piloto17;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/17-21-devries.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#piastri {
  grid-area: piloto18;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/18-81-piastri.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#hulkenberg {
  grid-area: piloto19;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/19-27-Hulkenberg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#sargeant {
  grid-area: piloto20;
  display: grid;
  width: 35vw;
  background: url(../assets/images/pilotos/pilotos-parrilla/20-2-sargent.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#footer-grilla {
  background-color: #e10600;
  width: 100%;
}

/* CIRCUITOS */
.container-body-circuitos {
  border-top: 0px;
  background-image: url(../assets/images/fondos/muro-negro-puntos.jpg);
  display: grid;
  width: 100vw;
  height: auto;
  grid-template-areas: "menu header" "menu caja-aside-grilla-circuitos" "menu footer";
  grid-template-columns: 25% 75%;
  grid-template-rows: auto auto auto;
  column-gap: 32px 32px;
  row-gap: 5px;
}

.caja-aside-grilla-circuitos {
  display: grid;
  font-size: 32px;
  grid-area: caja-aside-grilla-circuitos;
  grid-template-areas: "titulo-grilla-circuitos" "lista-circuitos";
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  width: 75vw;
  height: auto;
}

.caja-titulo-general {
  grid-area: header;
  display: grid;
}

.titulo-grilla-circuitos {
  display: grid;
  grid-area: titulo-grilla-circuitos;
  text-align: center;
  font-family: "f1titulos";
  font-size: 50px;
  color: #e10600;
}

.lista-circuitos {
  display: grid;
  width: 70vw;
  grid-template-columns: 33% 33% 33%;
  column-gap: 15px;
  row-gap: 15px;
  padding-left: 15px;
  grid-template-areas: "caja-barein caja-arabia caja-australia" "caja-azerbaiyan caja-miami caja-imola" "caja-monaco caja-espana caja-canada" "caja-austria caja-uk caja-hungria" "caja-belgica caja-paises-bajos caja-italia" "caja-singapur caja-japon caja-qatar" "caja-eeuu caja-mexico caja-brasil" "caja-las-vegas caja-abu-dabi .";
  grid-area: lista-circuitos;
}

.gp {
  font-family: "F1titulos";
  font-size: 18px;
  color: white;
  background-color: #e10600;
}

.caja-circuito {
  display: grid;
  grid-template-areas: "titulo-gp" "imagen-gp" "nombre-circuito" "horarios";
  grid-template-columns: 100%;
  grid-template-rows: 8% auto 8% auto;
}

.titulo-gp {
  background-color: #e10600;
  font-family: "f1titulos";
  font-size: 18px;
  color: white;
  text-align: center;
  width: 100%;
  display: grid;
  grid-area: titulo-gp;
}

.imagen-GP {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-area: imagen-gp;
}
.imagen-GP img {
  width: 100%;
  height: 100%;
}

.nombre-circuito {
  background-color: black;
  color: white;
  font-family: "f1titulos";
  font-size: 16px;
  text-align: center;
  display: grid;
  grid-area: nombre-circuito;
}

.horarios {
  background-color: #e10600;
  font-family: "f1textos";
  color: white;
  font-size: 14px;
  display: grid;
  grid-area: horarios;
}

#caja-barein {
  display: grid;
  grid-area: caja-barein;
}

#caja-arabia {
  display: grid;
  grid-area: caja-arabia;
}

#caja-australia {
  display: grid;
  grid-area: caja-australia;
}

#caja-azerbaiyan {
  display: grid;
  grid-area: caja-azerbaiyan;
}

#caja-miami {
  display: grid;
  grid-area: caja-miami;
}

#caja-imola {
  display: grid;
  grid-area: caja-imola;
}

#caja-monaco {
  display: grid;
  grid-area: caja-monaco;
}

#caja-espana {
  display: grid;
  grid-area: caja-espana;
}

#caja-canada {
  display: grid;
  grid-area: caja-canada;
}

#caja-austria {
  display: grid;
  grid-area: caja-austria;
}

#caja-uk {
  display: grid;
  grid-area: caja-uk;
}

#caja-hungria {
  display: grid;
  grid-area: caja-hungria;
}

#caja-belgica {
  display: grid;
  grid-area: caja-belgica;
}

#caja-paises-bajos {
  display: grid;
  grid-area: caja-paises-bajos;
}

#caja-italia {
  display: grid;
  grid-area: caja-italia;
}

#caja-singapur {
  display: grid;
  grid-area: caja-singapur;
}

#caja-japon {
  display: grid;
  grid-area: caja-japon;
}

#caja-qatar {
  display: grid;
  grid-area: caja-qatar;
}

#caja-eeuu {
  display: grid;
  grid-area: caja-eeuu;
}

#caja-mexico {
  display: grid;
  grid-area: caja-mexico;
}

#caja-brasil {
  display: grid;
  grid-area: caja-brasil;
}

#caja-las-vegas {
  display: grid;
  grid-area: caja-las-vegas;
}

#caja-abu-dabi {
  display: grid;
  grid-area: caja-abu-dabi;
}

/* TABLA DE POSICIONES */
.container-body-posiciones {
  border-top: 0px;
  background-color: gray;
  display: grid;
  width: 100vw;
  height: auto;
  grid-template-areas: "menu header" "menu container-tabla-posiciones" "menu footer";
  grid-template-columns: 25vw 75vw;
  grid-template-rows: auto auto auto;
}

.container-tabla-posiciones {
  display: grid;
  width: 73vw;
  grid-area: container-tabla-posiciones;
  grid-template-areas: "tituloPosiciones tituloPosiciones" "tabla-mundial-de-pilotos tabla-mundial-de-constructores";
  column-gap: 20px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
}

.h1tituloGrillaPosiciones {
  font-family: "F1titulos";
  font-size: 50px;
  color: #e10600;
  justify-content: center;
  display: grid;
}

.tabla-mundial-de-pilotos {
  display: grid;
  background-color: white;
  font-family: "f1textos";
  font-size: 24px;
  padding-left: 25px;
  padding-right: 25px;
  grid-area: tabla-mundial-de-pilotos;
  width: 100%;
}

.tabla-mundial-de-constructores {
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  font-family: "f1textos";
  font-size: 24px;
  grid-area: tabla-mundial-de-constructores;
  width: 100%;
  grid-template-areas: "titulo-mundial-de-constructores" "tabla-general-de-constructores";
  grid-template-columns: auto;
  grid-template-rows: auto 95%;
}

.tabla-general-de-constructores {
  display: grid;
  background-color: white;
  font-family: "f1textos";
  grid-area: tabla-general-de-constructores;
}

.campeonato {
  font-family: "F1Titulos";
  font-size: 32px;
  text-align: center;
  color: #e10600;
  display: grid;
}

.posiciones {
  display: grid;
  grid-area: tituloPosiciones;
}

.titulo-mundial-de-constructores {
  font-family: "F1titulos";
  font-size: 50px;
  color: #e10600;
  justify-content: center;
  display: grid;
  grid-area: titulo-mundial-de-constructores;
}

#tabla-pilotos {
  width: 100%;
  text-align: center;
}

#tabla-constructores {
  width: 100%;
  text-align: center;
}

/* COMUNIDAD */
.container-body-comunidad {
  border-top: 0px;
  background-color: #dee0e3;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "menu header" "menu container-comunidad" "menu footer";
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto auto;
  column-gap: 10px 32px 32px;
  row-gap: 5px;
}

.container-comunidad {
  display: grid;
  grid-area: container-comunidad;
  grid-template-areas: "titulo-comunidad titulo-comunidad" "formulario-noticias caja-redes";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 20px;
}

.titulo-comunidad {
  display: grid;
  grid-area: titulo-comunidad;
  text-align: center;
  font-family: "f1titulos";
  font-size: 32px;
  color: #e10600;
}

.formulario-noticias {
  display: grid;
  grid-area: formulario-noticias;
  font-family: "f1textos";
  font-size: 24px;
  text-align: left;
  background-color: white;
  padding: 20px 20px 20px 20px;
}

.container-form {
  display: grid;
  grid-area: container form;
  grid-template-areas: "titulo-form" "datos-personales" "equipos-favs" "pilotos-favs" "boton-subs";
}

.titulo-form {
  display: grid;
  grid-area: titulo-form;
}

.datos-personales {
  display: grid;
  grid-area: datos-personales;
}

.equipos-favs {
  display: grid;
  grid-area: equipos-favs;
  grid-template-areas: "titulo-equipos-favs" "equipos-grupo-1" "equipos-grupo-2" "equipos-grupo-3" "equipos-grupo-4";
}

.titulo-equipos-favs {
  display: grid;
  grid-area: titulo-equipos-favs;
}

.pilotos-favs {
  display: grid;
  grid-area: pilotos-favs;
  grid-template-areas: "titulo-pilotos-favs" "pilotos-grupo-1" "pilotos-grupo-2" "pilotos-grupo-3" "pilotos-grupo-4" "pilotos-grupo-5" "pilotos-grupo-6" "pilotos-grupo-7";
}

.equipos-grupo-1 {
  display: grid;
  grid-area: equipos-grupo-1;
  grid-template-columns: 30% 30% 30%;
  text-align: left;
}

.equipos-grupo-2 {
  display: grid;
  grid-area: equipos-grupo-2;
  grid-template-columns: 30% 30% 30%;
  text-align: left;
}

.equipos-grupo-3 {
  display: grid;
  grid-area: equipos-grupo-3;
  grid-template-columns: 30% 30% 30%;
  text-align: left;
}

.equipos-grupo-4 {
  display: grid;
  grid-area: equipos-grupo-4;
  grid-template-columns: auto;
  text-align: left;
}

.titulo-pilotos-favs {
  display: grid;
  grid-area: titulo-pilotos-favs;
}

.pilotos-grupo-1 {
  display: grid;
  grid-area: pilotos-grupo-1;
  grid-template-columns: 33% 33% 33%;
  text-align: left;
}

.pilotos-grupo-2 {
  display: grid;
  grid-area: pilotos-grupo-2;
  grid-template-columns: 33% 33% 33%;
  text-align: left;
}

.pilotos-grupo-3 {
  display: grid;
  grid-area: pilotos-grupo-3;
  grid-template-columns: 33% 33% 33%;
  text-align: left;
}

.pilotos-grupo-4 {
  display: grid;
  grid-area: pilotos-grupo-4;
  grid-template-columns: 33% 33% 33%;
  text-align: left;
}

.pilotos-grupo-5 {
  display: grid;
  grid-area: pilotos-grupo-5;
  grid-template-columns: 33% 33% 33%;
  text-align: left;
}

.pilotos-grupo-6 {
  display: grid;
  grid-area: pilotos-grupo-6;
  grid-template-columns: 33% 33% 33%;
  text-align: left;
}

.pilotos-grupo-7 {
  display: grid;
  grid-area: pilotos-grupo-7;
  grid-template-columns: 33% 33% 33%;
  text-align: left;
}

.boton-subs {
  display: grid;
  grid-area: boton-subs;
}

.caja-redes {
  display: grid;
  grid-area: caja-redes;
  background-color: white;
  grid-template-areas: "redes" "reddit-preview";
  align-items: center;
  justify-content: center;
  font-family: "f1titulos";
  font-size: 24px;
  color: #e10600;
  text-decoration: none;
  text-align: justify;
}

.redes {
  display: grid;
  grid-area: redes;
  grid-template-areas: "container-twitter container-reddit";
  grid-column: auto auto;
  justify-content: center;
  column-gap: 50px;
}

.container-twitter {
  display: grid;
  grid-row: auto auto;
  grid-area: container-twitter;
}

.container-reddit {
  display: grid;
  grid-area: container-reddit;
}

.reddit-preview {
  display: grid;
  grid-area: reddit-preview;
}

/* EQUIPOS */
.container-body-equipos {
  border-top: 0px;
  background-color: gray;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "menu header" "menu container-equipos" "menu footer";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}

.container-equipos {
  display: grid;
  grid-area: container-equipos;
  grid-template-areas: "titular" "video-toto";
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.titulo-grilla {
  display: grid;
  grid-area: titular;
  text-align: center;
}

.video-toto {
  display: grid;
  grid-area: video-toto;
}

@media (max-width: 992px) {
  header img {
    width: 100vw;
  }
  .navbar {
    display: none !important;
  }
  .caja-body {
    display: grid;
    grid-template-areas: "header" "article" "aside" "footer";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    row-gap: 5px;
  }
  .caja-imagen-GP {
    display: grid;
    justify-content: center;
  }
  .navbar-mobile-container {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .navbar-mobile-container img {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .navbar-mobile {
    display: none;
    top: 35px;
    left: 0px;
    padding: 5px;
    position: absolute;
  }
  .navbar-mobile.show {
    display: block;
    background-color: black;
    width: auto;
    height: auto;
  }
  .navbar-mobile li {
    font-size: 14px;
  }
  .caja-titulo-general img {
    width: 100vw;
  }
  .container-body-circuitos {
    width: 100vw;
    display: grid;
    grid-template-areas: "headerok" "caja-aside-grilla-circuitos" "footer";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 5px;
  }
  .caja-aside-grilla-circuitos {
    display: grid;
    width: 100vw;
    grid-area: caja-aside-grilla-circuitos;
    grid-template-areas: "titulo-grilla-circuitos" "lista-circuitos";
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .lista-circuitos {
    display: grid;
    width: 100vw;
    align-items: center;
    justify-content: center;
    grid-template-areas: "caja-barein" "caja-arabia" "caja-australia" "caja-azerbaiyan" "caja-miami" "caja-imola" "caja-monaco" "caja-espana" "caja-canada" "caja-austria" "caja-uk" "caja-hungria" "caja-belgica" "caja-paises-bajos" "caja-italia" "caja-singapur" "caja-japon" "caja-qatar" "caja-eeuu" "caja-mexico" "caja-brasil" "caja-las-vegas" "caja-abu-dabi";
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 30px;
    padding: 5px;
  }
  .container-body-pilotos {
    display: grid;
    width: 100vw;
    grid-template-areas: "header" "caja-aside-grilla-pilotos" "footer";
    grid-template-columns: auto;
    grid-row: auto auto auto;
    justify-content: center;
    align-items: center;
  }
  .titulo-grilla-pilotos {
    width: 90vw;
    display: grid;
    grid-area: tituloGrillaPilotos;
  }
  .h1tituloGrillaPilotos {
    font-size: 25px;
    justify-content: center;
  }
  .caja-aside-grilla-pilotos {
    display: grid;
    width: 90vw;
    grid-template-areas: "tituloGrillaPilotos" "lista-de-pilotos";
    justify-content: center;
    align-items: center;
  }
  .lista-de-pilotos {
    display: grid;
    width: 90vw;
    justify-content: center;
    align-items: center;
    grid-template-areas: "piloto1" "piloto2" "piloto3" "piloto4" "piloto5" "piloto6" "piloto7" "piloto8" "piloto9" "piloto10" "piloto11" "piloto12" "piloto13" "piloto14" "piloto15" "piloto16" "piloto17" "piloto18" "piloto19" "piloto20";
  }
  div {
    width: 90vw;
  }
  .h2pilotos {
    font-size: 20px;
  }
  img {
    width: 64px;
    height: auto;
  }
  .edad {
    font-size: 14px;
  }
  .edad img {
    width: 24px;
    height: auto;
  }
  .equipos {
    font-size: 14px;
  }
  .box-pilotos {
    display: grid;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  #verstappen {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #leclerc {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #perez {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #russell {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #sainz {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #hamilton {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #norris {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #ocon {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #alonso {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #bottas {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #magnussen {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #gasly {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #stroll {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #tsunoda {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #zhou {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #albon {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #devries {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #piastri {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #hulkenberg {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  #sargeant {
    width: 80vw;
    height: 50vw;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  .footer {
    display: grid;
    grid-area: footer;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .container-body-comunidad {
    width: 100vw;
    display: grid;
    grid-template-areas: "header" "container-comunidad" "footer";
  }
  .container-redes-sociales {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #e10600;
  }
  .container-comunidad {
    display: grid;
    grid-area: container-comunidad;
    width: 100vw;
    grid-template-areas: "titulo-comunidad" "formulario-noticias" "caja-redes" "reddit-preview";
  }
  .formulario-noticias {
    display: grid;
    grid-area: formulario-noticias;
    width: 100vw;
    grid-template-areas: "container-form";
  }
  .container-form {
    display: grid;
    grid-area: container-form;
    width: 100vw;
    grid-template-areas: "titulo-form" "datos-personales" "equipos-favs" "pilotos-favs" "boton-subs";
  }
  .caja-redes {
    display: grid;
    width: 100vw;
    grid-area: caja-redes;
    grid-template-areas: "redes" "reddit-preview";
  }
  .redes {
    display: grid;
    width: 100vw;
    grid-area: redes;
    grid-template-areas: "container-twitter container-reddit";
    grid-template-columns: 50% 50%;
  }
  .container-twitter {
    display: grid;
    grid-area: container-twitter;
    justify-content: center;
    width: auto;
  }
  .container-reddit {
    display: grid;
    grid-area: container-reddit;
    justify-content: center;
    width: auto;
  }
  .reddit-preview {
    display: grid;
    grid-area: reddit-preview;
    width: 100wv;
    justify-content: center;
  }
  .container-body-posiciones {
    display: grid;
    width: 100vw;
    grid-template-areas: "header" "container-tabla-posiciones" "footer";
  }
  .container-tabla-posiciones {
    display: grid;
    width: 100vw;
    grid-area: container-tabla-posiciones;
    grid-template-areas: "tituloPosiciones" "tabla-mundial-de-pilotos" "tabla-mundial-de-constructores";
    grid-template-columns: auto;
  }
  .tabla-mundial-de-pilotos {
    width: 100vw;
  }
}

/*# sourceMappingURL=style.css.map */
